$border: 2px solid rgba(
            $color: white,
            $alpha: 0.35
);

$size1: 6;
$size2: 12;
$size3: 18;
$size4: 24;
$size5: 48;
$backgroundColor: #27292d;
$textColor: white;
$primaryColor: #a0a4d9;
$secondTextColor: #1f2023;

